# Root .gitignore
node_modules/
.env
dist/
.DS_Store

# Frontend specific
frontend-user/node_modules
frontend-user/dist

frontend-admin/node_modules
frontend-admin/dist

# Backend specific
backend/node_modules